.search-box-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 52px;
  min-width: 56px;
  border-radius: $border-radius;
  cursor: pointer;
position: absolute;
right: 18%;

  &:hover {
    transform: scale(0.98);
  }

}
@include media-query("xsmall") {
  .search-box-icon {
    right: 12%;
  }
}