// .current-weather-details-left,
// .current-weather-details-right {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   height: auto;

//   .wind-speed-card,
//   .pressure-card,
//   .sunrise-card,
//   .humidity-card,
//   .visibility-card,
//   .sunset-card {
//     display: flex;
//     align-items: center;
//     height: 100%;
//     padding: $spacing-16 $spacing-20;
//     border-radius: $border-radius;
//     background-color: $tertiary-color;

//     .wind-speed-icon,
//     .pressure-icon,
//     .sunrise-icon,
//     .humidity-icon,
//     .visibility-icon,
//     .sunset-icon {
//       height: 48px;
//       width: 48px;
//     }

//     .wind-speed-details,
//     .pressure-details,
//     .sunrise-details,
//     .humidity-details,
//     .visibility-details,
//     .sunset-details {
//       display: flex;
//       flex-direction: column;
//       width: 100%;
//       margin-left: $spacing-12;

//       .wind-speed-title,
//       .pressure-title,
//       .sunrise-title,
//       .humidity-title,
//       .visibility-title,
//       .sunset-title {
//         @include typography($font-size-16, $regular-400, $accent-color);
//         margin: $spacing-14 $spacing-16 $spacing-12 $spacing-16;
//       }

//       .wind-speed-value,
//       .pressure-value,
//       .sunrise-value,
//       .humidity-value,
//       .visibility-value,
//       .sunset-value {
//         @include typography($font-size-24, $regular-400, $primary-color);
//         margin: $spacing-0 $spacing-16 $spacing-14 $spacing-16;
//       }
//     }
//   }

//   .pressure-card,
//   .visibility-card {
//     margin: $spacing-16 $spacing-0;
//   }
// }

.current-weather-description-container {
    @include flex-card-row;
    // background-color: $tertiary-color;
    
    background-color: $bg-transparent;
    backdrop-filter: $bg-filter;
    border: 1px solid black;
    margin: 0 50px;
    // width: 100%;
    
    // margin: $spacing-10 $spacing-10 $spacing-10 $spacing-10;
    // margin: $spacing-12 $spacing-100;
    // width: 100%;

    .weather-desc-left,
    .weather-desc-right {
        // margin: $spacing-10 $spacing-10 $spacing-10 $spacing-10;
        display: flex;
        flex-direction: column;
        //   justify-content: space-between;
        justify-content: space-evenly;
        align-items: center;
        height: auto;
        // margin: 0 $spacing-32;
        margin: $spacing-32 $spacing-40;

        .wind-speed-card,
        .pressure-card,
        .sunrise-card,
        .humidity-card,
        .visibility-card,
        .sunset-card {
            display: flex;
            // align-items: center;
            align-items: flex-end;
            height: 100%;
            // padding: $spacing-16 $spacing-20;
            // border-radius: $border-radius;
            // background-color: $tertiary-color;
            // margin: $spacing-24;
            // margin-right: $spacing-20;
            margin: $spacing-20 0;

            .wind-speed-icon,
            .pressure-icon,
            .sunrise-icon,
            .humidity-icon,
            .visibility-icon,
            .sunset-icon {
                  height: 48px;
                  width: 48px;
            }

            .wind-speed-details,
            .pressure-details,
            .sunrise-details,
            .humidity-details,
            .visibility-details,
            .sunset-details {
                  display: flex;
                  flex-direction: column;
                  width: 100%;
                //   margin-left: $spacing-6;
                // margin: $spacing-18;

                .wind-speed-title,
                .pressure-title,
                .sunrise-title,
                .humidity-title,
                .visibility-title,
                .sunset-title {
                    @include typography($font-size-16, $regular-400, $accent-color);
                    // margin: $spacing-10;
                }

                .wind-speed-value,
                .pressure-value,
                .sunrise-value,
                .humidity-value,
                .visibility-value,
                .sunset-value {
                    // @include typography($font-size-24, $regular-400, $primary-color);
                    // margin: $spacing-0 $spacing-16 $spacing-14 $spacing-16;
                    margin-top: $spacing-6;
                    font-weight: $regular-400;
                }
            }
        }

        .pressure-card,
        .visibility-card {
            // margin: $spacing-16 $spacing-0;
        }
    }
}