.current-weather-description-container {
    @include flex-card-row;
    
    background-color: $bg-transparent;
    backdrop-filter: $bg-filter;
    margin: 0 50px;
    border-radius: $spacing-14;
    // height: 100%;
    height: fit-content;

    .weather-desc-left,
    .weather-desc-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        // margin: $spacing-32 $spacing-40 0 $spacing-40;
        // margin: 46px 40px 46px 40px;
        margin: $spacing-40 $spacing-46;

        .wind-speed-card,
        .pressure-card,
        .sunrise-card,
        .humidity-card,
        .visibility-card,
        .sunset-card {
            display: flex;
            align-items: flex-end;
            margin: $spacing-20 0;

            .wind-speed-icon,
            .pressure-icon,
            .sunrise-icon,
            .humidity-icon,
            .visibility-icon,
            .sunset-icon {
                  height: 48px;
                  width: 48px;
            }

            .wind-speed-details,
            .pressure-details,
            .sunrise-details,
            .humidity-details,
            .visibility-details,
            .sunset-details {
                  display: flex;
                  flex-direction: column;
                  width: 100%;

                .wind-speed-title,
                .pressure-title,
                .sunrise-title,
                .humidity-title,
                .visibility-title,
                .sunset-title {
                    @include typography($font-size-16, $regular-400, $accent-color);
                }

                .wind-speed-value,
                .pressure-value,
                .sunrise-value,
                .humidity-value,
                .visibility-value,
                .sunset-value {
                    margin-top: $spacing-6;
                    font-weight: $regular-400;
                }
            }
        }

        .pressure-card,
        .visibility-card {
            // margin: $spacing-16 $spacing-0;
        }
    }
}